
.one-movie-section {
    text-align: center;
    border: 2px solid #e50914;
    padding: 100px;
    /* height: 80vh; */
    width: 500px;
   margin: 0px auto;
   
}


.one-movie-section p {
    margin-bottom: 30px;
}

.one-movie-section a {
    text-decoration: none;
    font-size: 14px;
    background-color: #e50914;
    color: #e5e5e5;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
   
    
}