header {
   display: flex; 
   flex-direction: row;
   justify-content: center;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 10px;
    display: inline-block;
    color: #e5e5e5;
    text-decoration: none;
}

/* ´podtržení aktivního odkazu v menu */
.active {
    text-decoration: underline;
    color: #e50914;
}